version: "3.8"

volumes:
    app_data:
        name: k9archiver_app_data
    static_files:
        name: k9archiver_static_files
    media_files:
        name: k9archiver_media_files

services:
    django:
        build:
            context: .
            dockerfile: Dockerfile
        image: archiver:development
        container_name: k9archiver_django
        command: /app/docker/start.sh server
        depends_on:
            - postgres
        env_file:
            - .env
        ports:
            - 8000:8000
        volumes:
            - .:/app
            - static_files:/app/static
            - media_files:/app/media

    postgres:
        image: postgres:13.3-alpine
        container_name: k9archiver_postgres
        volumes:
            - app_data:/var/lib/postgresql/data
        #environment:
        #    POSTGRES_PASSWORD: postgres
        #    POSTGRES_USER: postgres
        #    POSTGRES_DB: postgres
        env_file:
            - .env
    