{% extends 'base.html' %}
{% block body %}


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">{{cluster.cluster_name}}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{cluster.description}}</p>
      <div class="h-1 mt-8 mx-36 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-yellow-500"></div>
      </div>  
    </div>

    <div class="flex flex-wrap -m-4">
    {% for note in notes %}
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">{{note.title}}</h2>
            <h3 class="text-gray-500 mb-3">{{note.author}}</h3>
            <p class="mb-4">{{note.body|slice:":120"}}...</p>
            <span class="inline-flex">
              <a href="{% url 'cluster:notedetail' note.cluster.code_name note.code %}" class="text-gray-500">
                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full">
                    read
                </button>
              </a>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% comment %} </div>
</section>
<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="flex flex-wrap md:-m-2 -m-1">
    <div class="flex flex-wrap w-1/2">
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
      </div>
      <div class="md:p-2 p-1 w-full">
        <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/600x360">
      </div>
    </div>
    <div class="flex flex-wrap w-1/2">
      <div class="md:p-2 p-1 w-full">
        <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/601x361">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% endblock body  %}}}