{% extends 'base.html' %}
{% load tailwind_filters %}

{% block body %}
<div class="min-h-screen flex justify-center p-20 bg-gray-50 text-white px-4 sm:px-6 lg:px-8">
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-yellow-500 rounded-lg hover:bg-yellow-400 focus:outline-none focus:ring focus:ring-yellow-300 focus:ring-opacity-50">
           Submit
        </button>
    </form>
</div>
{% endblock body %}