{% extends 'base.html' %}
{% block body %}


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      
      {% comment %} <div class="flex flex-wrap -m-4 text-center">
        
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">46</h2>
            <p class="leading-relaxed">Places</p>
          </div>
        </div>
      
      </div>  {% endcomment %}

      {% comment %} <div class="bg-gray-200 p-4 rounded-lg">
        <div class="flex items-center">
          <img class="w-12 h-12 rounded-full mr-4" src="https://via.placeholder.com/150x150" alt="Organization Avatar">
          <div class="text-lg font-medium">
            <div class="text-gray-800">@{{ cluster.username }}</div>
            <div class="text-gray-600">{{ cluster.description }}</div>
          </div>
        </div>
        <div class="mt-4 text-gray-600 text-sm">
          <div class="font-medium">{{ cluster.name }}</div>
          <div>{{ cl.memberCount }} members</div>
        </div>
      </div> {% endcomment %}
      
      
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">{{cluster.cluster_name}}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{cluster.description}}</p>
      
      <div class="inline-flex align-center pt-4 ml-8">
      <div class="pb-8 ml-8 mr-32 sm:w-1/2 w-full inline-flex">
        {% if request.user == cluster.owner %}
        <span>
          <a href="{% url 'cluster:clusterdelete' cluster.code_name %}"> 
            <div class="bg-gray-100  text-red-500 border border-red-500 rounded flex px-4 h-full items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="-pl-2  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
              <span class=" pl-2 title-font font-medium">Delete</span>
            </div>
          </a>
        </span>
        
        <span>
            <a href="{% url 'cluster:clusterupdate' cluster.code_name  %}">    
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-4  h-12 w-5 hover:text-yellow-500 hover:w-8" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
            </a>  
        </span>
        {% endif %}
        {% if request.user == cluster.owner or cluster.permission == "Public" %}
        <a href="{% url 'cluster:clusternotecreate' cluster.code_name %}">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        </span>
        </a>

        <span>
          <a href="{% url 'cluster:' cluster.code_name %}"> 
            <div class="bg-gray-100  text-red-500 border border-red-500 rounded flex px-4 h-full items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="-pl-2  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
              <span class=" pl-2 title-font font-medium">Delete</span>
            </div>
          </a>
        </span>

        {% endif %}
      </div>
    </div> 


      <div class="h-1 mt-8 mx-36 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-yellow-500"></div>
      </div>  
    </div>

    <div class="flex flex-wrap -m-4">
    {% for note in notes %}
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="{{note.cover.url}}">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">{{note.title}}</h2>
            <h3 class="text-gray-500 mb-3">{{note.author}}</h3>
            <p class="mb-4">{{note.summary|slice:":120"|safe}}...</p>
            <span class="inline-flex">
              <a href="{% url 'cluster:notedetail' note.cluster.code_name note.code %}" class="text-gray-500">
                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full">
                    read
                </button>
              </a>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>


    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/3">
            <div class="p-8">
              <div class="shadow-xl rounded-lg">
                <div style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')" class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
                  <p class="text-white font-bold text-4xl">Profile</p>
                </div>
                <div class="bg-white rounded-b-lg px-8">
                  <div class="relative">
                        <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8 bg-gray-100" src="" alt="Avatar">
                  </div>
                  <div class="pt-8 pb-8">
                    <h1 class="text-2xl font-bold text-gray-700">Link</h1>
                    <p class="text-sm text-gray-600">From hyrule</p>
            
                    <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius, fringilla sapien at, sollicitudin risus.</p>
            
                    <div class="flex justify-around mt-8">
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
            </svg>
                      </button>
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
                      </button>
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  {% comment %} </div>
</section>
<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="flex flex-wrap md:-m-2 -m-1">
    <div class="flex flex-wrap w-1/2">
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
      </div>
      <div class="md:p-2 p-1 w-full">
        <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/600x360">
      </div>
    </div>
    <div class="flex flex-wrap w-1/2">
      <div class="md:p-2 p-1 w-full">
        <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/601x361">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
      </div>
      <div class="md:p-2 p-1 w-1/2">
        <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% endblock body  %}}}